<h3 class="red-text">Cart</h3>

<p>
  <a  routerLink="/shipping">Shipping Prices</a>
</p>
<h6 class="red-text">My Order</h6>
<div class="cart-item bg-light p-3" *ngFor="let item of items">
  
  <span> {{ item.name  }} </span>
  <br>
  <span class="ml-5"
    ><strong> {{ item.price | currency }} </strong></span
  >
</div>

<div class="card pb-5 pl-2">
  <form
    class="form-group row"
    [formGroup]="checkoutForm"
    (ngSubmit)="onSubmit(checkoutForm.value)"
  >
    <h4 class="red-text">Checkout</h4>

    <div class="col-sm-10">
      <label class="col-sm-2 col-form-label">Name</label>
      <input class="form-control" type="text" formControlName="name" />
    </div>

    <div class="col-sm-10">
      <label class="col-sm-2 col-form-label">Address</label>
      <input class="form-control" type="text" formControlName="address" />
    </div>

    <div><button id="button" class="btn btn-dark" type="submit">Purchase</button></div>
  </form>

  <div class="pt-2 ml-3">
    <app-backbtn></app-backbtn>
  </div>
</div>
